body {
    background-color: bisque;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

div {
    width: 100%;
    margin: 10px;
    display: inline-block;
}

div img {
    border-radius: 10%;
    margin: 0 20px;
    width: 40%;
}

div h3 {
    color: blue;
    padding-left: 30px;
}

div p {
    padding-left: 30px;
    width: 80%;
    text-align: justify;
}

.box1 {
    float: left;
    width: 40%;
    padding: 10px;
}

.box2 {
    float: right;
    width: 40%;
    padding: 10px;
}
