@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

a, button {
    font-family: 'Cutive Mono', monospace, serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(250, 249, 249);
}

.other_links {
    margin: 30px;
}

.other_links a{
    color: blue;
}

nav {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    padding: 15px 0;
    background-color: black;
}

a:hover {
    color: lightgreen;
}

button {
    padding: 10px;
    background-color: rgba(10,222,14,1);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(10,222,14,0.5);
}

h1 {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font-gill {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kidscontainer {
    background-color: mediumaquamarine;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    justify-items: center;
    max-width: 1200px;
    margin: auto;
}

/*
.gallery {
    width: 100%;
    margin: 10px;
    display: inline-block;
}

.gallery img {
    border-radius: 10%;
    margin: 0 20px;
    width: 40%;
}

.gallery h3 {
    color: blue;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery p {
    padding-left: 30px;
    width: 80%;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box1 {
    float: left;
    width: 40%;
    padding: 10px;
}

.box2 {
    float: right;
    width: 40%;
    padding: 10px;
}
*/
